* {
    margin: 0;
}

/* Banner Section */
.header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: auto, 100px 600px;
    width: 1600px;
    height: 808px;
    left: 1600px;
    top: 808px;
    margin-bottom: 131px;
    /* padding: 0; */
}

.banner-main-text {
    direction: rtl;
    margin-left: 1023px;
    padding: 50px;
    /* margin-top: 50px; */
    padding-top: 250px;
    font-weight: 700;
    font-size: 29px;
    color: #151414;

}

.banner-description {
    margin-top: 24px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 18px 36px;
    margin-left: 263px;

}

/* Main Section */
/* Previous year failure */
/* .failure-section{
    margin-bottom: ;

} */
.common-field {
    margin-left: 85px;
}

ul li{
    list-style: none;
    padding-left: 20px;
}

.previous-year-failure {
    display: flex;
    gap: 87px;
    align-items: center;
    margin-bottom: 130px;
    margin-left: 85px;

}

.failure-text {
    padding-right: 322px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #151414;
    margin-bottom: 24px;

}

/* My plans and my hobbies */
.my-plans {
    margin-bottom: 130px;
}

.plan-container {
    display: flex;
    gap: 99px;
    margin-left: 240px;
}

.plan-title {
    font-weight: 700;
    font-size: 20px;
    color: #151414;
}

.plan-description {
    font-weight: 500px;
    font-size: 15px;
    color: #737272;
}

.title-text {
    margin-bottom: 55.7px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

/* picture gradient section */
.picture-container {
    margin-left: 296px;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png), url(../images/gradient2.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 250px;
    left: 230px;

}

.picture-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 59px;
    padding-left: 64px;
    margin-bottom: 24px;
}

.picture-button {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: none;
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    margin-left: 64px;

}

.picture-gradient {
    margin-bottom: 130px;
}
/* Footer Section */

.footer-section {
    display: flex;
    gap: 550px;
    background: #151414;
    width: 1600px;
    height: 250px;
    /* justify-content: center; */
    padding-top: 80px;
    padding-left: 54px;
}

.footer-title {
    font-weight: 700;
    font-size: 22px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-description {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-email {
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-number {
    font-weight: 400;
    font-size: 8px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.footer-details-one {
    padding-left: 134px;
}

.footer-button {
    margin-top: 18px;
    color: #F15B22;
    font-weight: 600;
    font-size: 15px;
    width: 110px;
    height: 45px;
}

.footer-icons {
    margin-bottom: 130px;
}